* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #2a2a2a;
    --second-bg-color: #202020;
    --text-color: #fff;
    --second-color: #ccc;
    --main-color: #f9004d;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 22px 15%;
    border-bottom: 1px solid transparent;
    transition: all .45s ease;
}

.logo {
    color: var(--text-color);
    font-size: 35px;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all .45s ease;
}

.logo:hover {
    color: var(--main-color);
}

.transisi {
    color: var(--main-color);
    transition: all .45s ease;
}

.transisi:hover {
    color: var(--text-color);
}

span {
    color: var(--main-color);
}

.navlist {
    display: flex;
}

.navlist a {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    margin: 0 20px;
    transition: all .45s ease;
    border: 2px solid var(--second-color);
    padding: 7px 12px;
    border-radius: 30px;
}

.navlist a:hover {
    color: var(--main-color);
    border: 2px solid var(--main-color);
}

#menu-icon {
    font-size: 35px;
    color: var(--text-color-color);
    z-index: 10001;
    cursor: pointer;
    margin-left: 25px;
    display: none;
}

section {
    padding: 160px 15% 120px;
}

.home {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url(Arsal\ Kamil.JPG);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.slide {
    margin-bottom: 20px;
}

.one {
    display: inline-block;
    margin-right: 15px;
    height: 32px;
    padding: 0 15px;
    line-height: 32px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    background-color: var(--main-color);
    color: var(--text-color);
}

.two {
    display: inline-block;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 500;
}

.home-text h1 {
    font-size: var(--big-font);
    font-weight: 600;
    color: var(--text-color);
    line-height: 1.1;
    margin: 0 0 8px;
}

.home-text h3 {
    color: var(--text-color);
    margin: 0 0 35px;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
}

.home-text p {
    color: var(--text-color);
    font-size: var(--p-font);
    letter-spacing: 1px;
    margin-bottom: 40px;
    line-height: 1.8;
    font-weight: 600;
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: var(--main-color);
    border-radius: 30px;
    color: var(--text-color);
    font-size: 1rem;
    letter-spacing: 1px;
    font-weight: 600;
    transition: all .45s ease;
}

.btn:hover {
    transform: scale(0.9);
}

.btn2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    color: var(--text-color);
    margin-left: 35px;
}

.btn2 span i {
    width: 55px;
    height: 55px;
    background: var(--main-color);
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    border-radius: 50%;
    transition: all .45s ease;
    margin-right: 15px;
}

.btn2 span i:hover {
    transform: scale(1.1);
}

header.sticky {
    background: var(--bg-color);
    border-bottom: 1px solid #ffffff1a;
    padding: 12px 15%;
}

.about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 1.5rem;
}

.about-img img {
    max-width: 530px;
    height: auto;
    width: 100%;
    border-radius: 8px;
    filter: grayscale(1);
    transition: all .45s ease;
}

.about-img img:hover {
    transform: scale(1.02);
    cursor: pointer;
    filter: none;
}

.about-text h2 {
    font-size: var(--h2-font);
    line-height: 1;
}

.about-text h4 {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    line-height: 1.7;
    margin: 15px 0 30px;
}

.about-text p {
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 4rem;
}

.services {
    background: var(--second-bg-color);
}

.main-text {
    text-align: center;
}

.main-text p {
    color: var(--second-color);
    font-size: 15px;
    margin-bottom: 15px;
}

.main-text h2 {
    font-size: var(--h2-font);
    line-height: 1;
}

.skills-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}

.box {
    background: var(--bg-color);
    padding: 35px 45px;
    border-radius: 8px;
    transition: all .45s ease;
}

.s-icons i {
    font-size: 32px;
    margin-bottom: 20px;
}

.box h3 {
    font-size: 24px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 15px;
}

.box p {
    color: var(--second-color);
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 25px;
}

.read {
    display: inline-block;
    padding: 8px 18px;
    background: #333333;
    color: var(--second-color);
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    transition: all .45s ease;
}

.read:hover {
    letter-spacing: 1px;
    color: var(--text-color);
    background: var(--main-color);
    transform: scale(1.1);
}

.box:hover {
    transform: translateY(-8px);
    cursor: pointer;
}

.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}

.row {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 8px;
}

.row img {
    width: 100%;
    border-radius: 8px;
    display: block;
    transition: transform 0.5s;
}

.layers {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #ff004f);
    position: absolute;
    border-radius: 8px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 40px;
    transition: height 0.5s;
}

.layers h5 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 15px;
}

.layers p {
    color: var(--second-color);
    font-size: 1rem;
    line-height: 1.8;
}

.layers i {
    color: var(--main-color);
    margin-top: 20px;
    font-size: 20px;
    background: var(--text-color);
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.row:hover img {
    transform: scale(1.1);
}

.row:hover .layers {
    height: 100%;
}

.contact {
    background: var(--second-bg-color);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
}

.contact-text h4 {
    color: var(--text-color);
    margin: 18px 0;
    font-size: 20px;
    font-weight: 600;
}

.contact-text h2 {
    font-size: var(--h2-font);
    line-height: 1;
}

.contact-text p {
    color: var(--second-color);
    font-size: var(--p-font);
    line-height: 1.8;
    margin-bottom: 30px;
}

.list {
    margin-bottom: 2.8rem;
}

.list li {
    margin-bottom: 12px;
}

.list li a {
    display: block;
    color: var(--second-color);
    font-size: 14px;
    transition: all .45s ease;
}

.list li a:hover {
    color: var(--text-color);
    transform: translateX(5px)
}

.contact-icons i{
    width: 45px;
    height: 45px;
    color: var(--text-color);
    background: var(--main-color);
    font-size: 22px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 15px;
    transition: all .45s ease;
}

.contact-icons i:hover {
    color: var(--main-color);
    background: var(--text-color);
}

.end {
    padding: 20px 15%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    background: var(--bg-color);
}

.last-text p {
    color: var(--second-color);
    font-size: 14px;
}

.top i {
    padding: 10px;
    border-radius: 50%;
    font-size: 12px;
    color: var(--text-color);
    background: var(--main-color);
}

@media (max-width: 1480px){
    header {
        padding: 12px 2.5%;
        transition: .3s;
    } 
    header.sticky {
        padding: 10px 2.5%;
        transition: .3s;
    }
    section {
        padding: 110px 3% 60px;
    }
    .end {
        padding: 15px 3%;
    }
}

@media (max-width: 1100px){
    :root {
        --big-font: 4rem;
        --h2-font: 2.5rem;
        --p-font: 1rem;
        transition: .1s;
    }
    .home-text h3 {
        font-size: 2.5rem;
    }
    .home {
        height: 87vh;
    }
}

@media (max-width: 920px){
    .about {
        grid-template-columns: 1fr;
    }
    .about-img {
        text-align: center;
        order: 2;
    }
    .about-img img {
        width: 100%;
        height: auto;
        max-width: 100%;
    }
    .contact {
        grid-template-columns: 1fr;
    }
    .about-text {
        text-align: center;
        justify-content: center;
        align-items: center;
        transition: .45s;
    }
}

@media (max-width: 840px){
    #menu-icon {
        display: block;
    }
    .navlist {
        position: absolute;
        top: -1000px;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        text-align: left;
        transition: all .45s ease;
    }
    .navlist a {
        display: block;
        margin: 17px;
        font-size: 20px;
        transition: all .45 ease;
        color: var(--text-color);
        border: none;
    }
    .navlist a:hover {
        color: var(--main-color);
        border: none;
    }
    .navlist.open {
        top: 100%;
    }
}

@media (max-width: 670px){
    .btn2 {
        transition: .45s;
    }
}